In [2]:
%load_ext autoreload
%autoreload 2

### Import des différentes librairies

In [3]:
import pandas as pd
import numpy as np 
import matplotlib

### Création des DataFrame à partir des fichiers TSV

In [4]:
df_people = pd.read_table("../data/name.basics.tsv", sep='\t')

In [5]:
df_films = pd.read_table("../data/title.principals.tsv", sep='\t')

In [6]:
df_titre = pd.read_table("../data/title.basics.tsv", sep='\t')

C:\Users\utilisateur\anaconda3\envs\p5 films\lib\site-packages\IPython\core\interactiveshell.py:3337: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [7]:
df_note = pd.read_table("../data/title.ratings.tsv", sep='\t')

## 1. DATAFRAME PEOPLE

In [8]:
df_people.head()    # Affiche le début du Dataframe

,nconst,primaryName,birthYear,deathYear,primaryProfession,knownForTitles
0,nm0000001,Fred Astaire,1899,1987,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0043044"
1,nm0000002,Lauren Bacall,1924,2014,"actress,soundtrack","tt0071877,tt0117057,tt0038355,tt0037382"
2,nm0000003,Brigitte Bardot,1934,\N,"actress,soundtrack,producer","tt0054452,tt0049189,tt0059956,tt0057345"
3,nm0000004,John Belushi,1949,1982,"actor,writer,soundtrack","tt0077975,tt0072562,tt0080455,tt0078723"
4,nm0000005,Ingmar Bergman,1918,2007,"writer,director,actor","tt0069467,tt0050976,tt0083922,tt0050986"

In [9]:
df_people.shape    # Retourne le nombre de lignes, et de colonnes

(9706922, 6)

In [10]:
list(df_people)   # Retourne le nom des colonnes

['nconst',
 'primaryName',
 'birthYear',
 'deathYear',
 'primaryProfession',
 'knownForTitles']

In [11]:
df_people_clean = df_people.dropna()    # Supprime les lignes vides

In [12]:
df_people_clean.shape

(7775897, 6)

In [28]:
df_people_clean.head()

,primaryName,primaryProfession,knownForTitles
0,Fred Astaire,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0043044"
1,Lauren Bacall,"actress,soundtrack","tt0071877,tt0117057,tt0038355,tt0037382"
2,Brigitte Bardot,"actress,soundtrack,producer","tt0054452,tt0049189,tt0059956,tt0057345"
3,John Belushi,"actor,writer,soundtrack","tt0077975,tt0072562,tt0080455,tt0078723"
4,Ingmar Bergman,"writer,director,actor","tt0069467,tt0050976,tt0083922,tt0050986"

In [26]:
df_people_clean = df_people_clean.drop(["nconst", "birthYear","deathYear"], axis = 1)

KeyError: "['nconst' 'birthYear' 'deathYear'] not found in axis"

In [37]:
df_people_clean

,primaryName,primaryProfession,knownForTitles
0,Fred Astaire,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0043044"
1,Lauren Bacall,"actress,soundtrack","tt0071877,tt0117057,tt0038355,tt0037382"
2,Brigitte Bardot,"actress,soundtrack,producer","tt0054452,tt0049189,tt0059956,tt0057345"
3,John Belushi,"actor,writer,soundtrack","tt0077975,tt0072562,tt0080455,tt0078723"
4,Ingmar Bergman,"writer,director,actor","tt0069467,tt0050976,tt0083922,tt0050986"
...,...,...,...
9706912,Lu Bevins,director,tt8744286
9706916,Sambit Mishra,writer,tt8325250
9706917,Romeo del Rosario,"animation_department,art_department",tt2455546
9706919,Harikrishnan Rajan,cinematographer,tt8736744
9706920,Aayush Nair,cinematographer,\N

In [47]:
a = df_people_clean["primaryName"][40]   # Renvois la 40ème ligne de la colonne primaryName

In [48]:
a

'Akira Kurosawa'

In [57]:
df_acteur = df_people_clean[["primaryName","primaryProfession","knownForTitles"]][df_people_clean["primaryProfession"].str.contains("actor|actress", regex=True)]

In [58]:
df_acteur

,primaryName,primaryProfession,knownForTitles
0,Fred Astaire,"soundtrack,actor,miscellaneous","tt0050419,tt0053137,tt0072308,tt0043044"
1,Lauren Bacall,"actress,soundtrack","tt0071877,tt0117057,tt0038355,tt0037382"
2,Brigitte Bardot,"actress,soundtrack,producer","tt0054452,tt0049189,tt0059956,tt0057345"
3,John Belushi,"actor,writer,soundtrack","tt0077975,tt0072562,tt0080455,tt0078723"
4,Ingmar Bergman,"writer,director,actor","tt0069467,tt0050976,tt0083922,tt0050986"
...,...,...,...
9706900,Zakariya Ganim,actor,\N
9706901,Sebi John,actor,tt8736744
9706902,Dani Jacob,actor,tt8736744
9706903,Sexy Angel,actress,\N
9706904,Sanjai Kuriakose,actor,tt8736744

In [56]:
df_titre

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
6321297,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6321298,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6321299,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6321300,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6321301,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"

In [60]:
df_titre_clean = df_titre.dropna()

In [63]:
df_titre_clean = df_people_clean.drop(["titleType", "originalTitle","isAdult","startYear","endYear","runtimeMinutes","genres"], axis = 1)

KeyError: "['titleType' 'originalTitle' 'isAdult' 'startYear' 'endYear'\n 'runtimeMinutes' 'genres'] not found in axis"

In [62]:
df_titre_clean

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"
...,...,...,...,...,...,...,...,...,...
6321297,tt9916848,tvEpisode,Episode #3.17,Episode #3.17,0,2010,\N,\N,"Action,Drama,Family"
6321298,tt9916850,tvEpisode,Episode #3.19,Episode #3.19,0,2010,\N,\N,"Action,Drama,Family"
6321299,tt9916852,tvEpisode,Episode #3.20,Episode #3.20,0,2010,\N,\N,"Action,Drama,Family"
6321300,tt9916856,short,The Wind,The Wind,0,2015,\N,27,Short
6321301,tt9916880,tvEpisode,Horrid Henry Knows It All,Horrid Henry Knows It All,0,2014,\N,10,"Animation,Comedy,Family"